Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and
salary filter.
You have to scrape data for ‚ÄúData Scientist‚Äù designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is ‚ÄúDelhi/NCR‚Äù. The salary filter to be used is ‚Äú3-6‚Äù lakhs

In [125]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\lenovo\appdata\roaming\python\python311\site-packages (4.24.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2024.6.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: websocket-client~=1.8 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [127]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [129]:
driver = webdriver.Chrome()

In [131]:
driver.get("https://www.naukri.com/")

In [133]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [135]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [137]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [139]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [141]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title "]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

# scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

# scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class=" comp-name mw-25"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

# scrping job Experince from th given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [143]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [145]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Scientist- Revenue Growth Management,"Pune, Gurugram, Bengaluru",EY,4-8 Yrs
1,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Futurism Technologies,3-7 Yrs
2,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Nityo Infotech,3-7 Yrs
3,Data Scientist,"Hybrid - Noida, Hyderabad, Bengaluru",Straive,4-6 Yrs
4,Data Scientist,"Hyderabad, Gurugram, Bengaluru",Genpact,6-11 Yrs
5,,Gurugram,Kellton,5-7 Yrs
6,,"Delhi / NCR, Noida, Gurugram",IIFL Finance,3-8 Yrs
7,,Gurugram,Indusind Bank,3-6 Yrs
8,Data Scientist,Gurugram,Nityo Infotech,6-10 Yrs
9,Gen AI Data Scientist - Pan India,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Neal Analytics,3-7 Yrs

Q2: Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You have to scrape the
job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [79]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\lenovo\appdata\roaming\python\python311\site-packages (4.24.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2024.6.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: websocket-client~=1.8 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [81]:
driver=webdriver.Chrome()

In [83]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [85]:
driver.get('https://www.shine.com/')

In [87]:
designation=driver.find_element(By.CLASS_NAME,"form-control ")
designation.send_keys('Data Analyst')

In [91]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [93]:
search=driver.find_element(By.CLASS_NAME,"styledcls_body_hidden")
search.click()

In [97]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [99]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

# scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

# scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

# scrping job Experince from th given page
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [101]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [103]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,,,,
1,Gis Developer,Mumbai City,green clover,2 to 7 Yrs
2,Sofware Engineer,Mumbai City,tech turmeric it services llp hirin...,1 to 3 Yrs
3,Digital Marketing Intern,Bangalore\n+9,shaik mohammed kaif hiring for nexg...,0 Yrs
4,,,,
5,,,,
6,Java Selenium Automation Tester,Navi Mumbai\n+2,capgemini technology services india...,4 to 9 Yrs
7,Java Back-end Developer,Bangalore\n+5,sunil kumar,2 to 7 Yrs
8,Sales Associate,Hyderabad\n+2,flexi ventures pvt. ltd.,1 to 3 Yrs
9,,,,

Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=F
LIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [173]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\lenovo\appdata\roaming\python\python311\site-packages (4.24.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2024.6.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: websocket-client~=1.8 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [175]:
driver=webdriver.Chrome()

In [177]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [179]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYIJLDFV&marketplace=FLIPKART')

In [181]:
phone_Rating=[]
Review_summary=[]
Full_review=[]

In [183]:
# scraping rating from the given page
Rating_tags=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
for i in Rating_tags[0:100]:
    Rating=i.text
    phone_Rating.append(Rating)

# scraping Review summary from the given page
summary_tags=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
for i in summary_tags[0:100]:
    summary=i.text
    Review_summary.append(summary)

# scraping Full review from the given page
review_tags=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')
for i in review_tags[0:100]:
    review=i.text
    Full_review.append(review)

In [184]:
print(len(phone_Rating),len(Review_summary),len(Full_review))

10 10 10

In [189]:
import pandas as pd
df=pd.DataFrame({'Phone_Rating':phone_Rating,'Review_Summary':Review_summary,'Full_Review':Full_review})
df

,Phone_Rating,Review_Summary,Full_Review
0,5,Best in the market!,Good Camera
1,5,Terrific,Very very good
2,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
3,5,Worth every penny,Feeling awesome after getting the delivery of ...
4,5,Perfect product!,Photos super
5,5,Terrific purchase,Value for money üòç
6,5,Wonderful,This is amazing at all
7,5,Excellent,NYC
8,5,Brilliant,very good camera quality
9,5,Perfect product!,V Good all

Q4: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for ‚Äúsneakers‚Äù in the search
field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price

In [61]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\lenovo\appdata\roaming\python\python311\site-packages (4.24.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2024.6.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: websocket-client~=1.8 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [63]:
driver=webdriver.Chrome()

In [65]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [67]:
driver.get('https://www.flipkart.com/')

In [69]:
search=driver.find_element(By.CLASS_NAME,"Pke_EE ")
search.send_keys('Sneakers')

In [71]:
brand_title=[]
Product_Description=[]
sneaker_Price=[]

In [73]:
# scraping brand title from the given page
start=0
end=3
for page in range(start,end):
    title_tags=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
    for i in title_tags[0:100]:
    title=i.text
    next_button=driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div[1]/div/div/div[2]')
    next_button.click()
    time.sleep(3)

# scraping product Description from the given page
start=0
end=3
for page in range(start,end):
    Description_tags=driver.find_elements(By.XPATH,'//a[@class="WKTcLC"')
    for i in Description_tags[0:100]:
    Description=i.text
    next_button=driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div[1]/div/div/a[1]')
    next_button.click()
    time.sleep(3)

# scraping sneaker price from the given page
start=0
end=3
for page in range(start,end):
    Price_tags=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
    for i in Price_tags[0:100]:
    Price=i.text
    next_button=driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div[1]/div/div/a[2]/div/div[1]')
    next_button.click()
    time.sleep(3)

IndentationError: expected an indented block after 'for' statement on line 6 (2020149333.py, line 7)

In [335]:
print(len(brand_title),len(Product_Description),len(sneaker_Price))

0 0 0

In [337]:
import pandas as pd
df=pd.DataFrame({'Brand':brand_title,'Product_Description':Product_Description,'Price':sneaker_Price})
df

Empty DataFrame
Columns: [Brand, Product_Description, Price]
Index: []

Q5: Go to webpage https://www.amazon.in/ Enter ‚ÄúLaptop‚Äù in the search field and then click the search icon. Then set CPU
Type filter to ‚ÄúIntel Core i7‚Äù as shown in the below image
Aftersetting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [266]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\lenovo\appdata\roaming\python\python311\site-packages (4.24.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2024.6.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: websocket-client~=1.8 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [268]:
driver=webdriver.Chrome()

In [270]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [272]:
driver.get('https://www.amazon.in/')

In [274]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/div/input' )
search.send_keys('Laptop')

In [280]:
Laptop_Title=[]
Laptop_Rating=[]
Laptop_Price=[]

In [282]:
# scraping Title from the given page
Title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in Title_tags[0:10]:
    Title=i.text
    Laptop_Title.append(Title)

# scraping Ratings from the given page
Rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in Rating_tags[0:10]:
    Rating=i.text
    Laptop_Rating.append(Rating)

# scraping Price from the given page
Price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in Price_tags[0:10]:
    Price=i.text
    Laptop_Price.append(Price)

In [284]:
print(len(Laptop_Title),len(Laptop_Rating),len(Laptop_Price))

10 10 10

In [286]:
import pandas as pd
df=pd.DataFrame({'Title':Laptop_Title,'Ratings':Laptop_Rating,'Price':Laptop_Price})
df

                                               Title Ratings   Price
0  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...          34,990
1  Dell [Smartchoice] Inspiron 5430 Thin & Light ...          34,990
2  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...          59,990
3  WALKENT 15.6 Inch Arctic Hunter Laptop Bag, Wa...          75,490
4  Acer Aspire Lite 12th Gen Intel Core i7-1255U ...          76,990
5  Acer ALG 13th Gen Intel Core i7 Gaming Laptop ...           2,990
6  ASUS Vivobook 15, 15.6" (39.62cm) FHD, Intel C...          49,990
7  (Refurbished) Dell Latitude 7480 14in FHD Lapt...          71,990
8  Acer Aspire 3 Intel Core i7 12th Gen 1255U - (...          61,990
9  MSI Thin 15, Intel 13th Gen. Core i7-13620H, 4...          27,531

Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpage https://www.azquotes.com/
2. Click on Top Quote
3. Than scrap a)Quote b) Author c) Type Of Quotes

In [288]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\lenovo\appdata\roaming\python\python311\site-packages (4.24.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2024.6.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: websocket-client~=1.8 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [290]:
driver=webdriver.Chrome()

In [292]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [294]:
driver.get('https://www.azquotes.com/')

In [296]:
Quote_details=[]
Author_names=[]
Quotes_types=[]

In [298]:
details_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in details_tags[0:1000]:
    details=i.text
    Quote_details.append(details)

names_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in names_tags[0:1000]:
    names=i.text
    Author_names.append(names)

types_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in types_tags[0:1000]:
    types=i.text
    Quotes_types.append(types)

In [300]:
print(len(Quote_details),len(Author_names),len(Quotes_types))

100 100 100

In [302]:
import pandas as pd
df=pd.DataFrame({'Quote':Quote_details,'Author':Author_names,'Types_of_Quotes':Quotes_types})
df

,Quote,Author,Types_of_Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

Q7: Write a python program to display list of respected former Prime Ministers of India (i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1
scrap the mentioned data and make the DataFrame

In [59]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\lenovo\appdata\roaming\python\python311\site-packages (4.24.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2024.6.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: websocket-client~=1.8 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [51]:
driver=webdriver.Chrome()

In [53]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [55]:
driver.get('https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1')

In [57]:
Pm_Name=[]
Born_Dead=[]
office_term=[]
Duration_Remarks=[]

In [ ]:
# scraping Name from the given page
Name_tags=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in Name_tags:
    Name=i.text
    Pm_Name.append(Name)

# scraping Born-Dead from the given page
Dead_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in Dead_tags:
    Dead=i.text
    Born_Dead.append(Dead)

# scraping Term of office from the given page
term_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in term_tags:
    term=i.text
    office_term.append(term)

# scrping Remarks from th given page
Remarks_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in Remarks_tags:
    Remarks=i.text
    Duration_Remarks.append(Remarks)

Q8: Write a python program to display list of 50 Most expensive cars in the world
(i.e. Car name and Price) from https://www.motor1.com/

In [27]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\lenovo\appdata\roaming\python\python311\site-packages (4.24.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2024.6.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: websocket-client~=1.8 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [29]:
driver=webdriver.Chrome()

In [31]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [33]:
driver.get('https://www.motor1.com/')

In [39]:
search=driver.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/input')
search.send_keys('50 most expensive cars')

In [41]:
car_name=[]
car_price=[]

In [43]:
# scraping Car name from the given page
name_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in name_tags[0:50]:
    name=i.text
    car_name.append(name)

# scraping car price from the given page
price_tags=driver.find_elements(By.XPATH,'//p/strong')
for i in price_tags[0:50]:
    price=i.text
    car_price.append(price)

In [45]:
print(len(car_name),len(car_price))

50 50

In [47]:
import pandas as pd
df=pd.DataFrame({'Car_Name':car_name,'Price':car_price})
df

                                     Car_Name                        Price
0                           McLaren Senna GTR                 $1.7 Million
1                                 Czinger 21C          Price: $1.7 Million
2                               Ferrari Monza          Price: $1.7 Million
3                          Gordon Murray T.33          Price: $1.7 Million
4                           Koenigsegg Gemera          Price: $1.7 Million
5                          Hennessey Venom F5          Price: $1.8 Million
6                             Bentley Bacalar          Price: $1.9 Million
7               Hispano Suiza Carmen Boulogne          Price: $1.9 Million
8                      Bentley Mulliner Batur          Price: $2.0 Million
9                                 SSC Tuatara          Price: $2.0 Million
10                                Lotus Evija          Price: $2.1 Million
11                        Aston Martin Vulcan          Price: $2.3 Million
12                                 Delage D12          Price: $2.3 Million
13                        Ferrari Daytona SP3          Price: $2.3 Million
14                          McLaren Speedtail          Price: $2.3 Million
15                               Rimac Nevera          Price: $2.4 Million
16                              Pagani Utopia          Price: $2.5 Million
17                       Pininfarina Battista          Price: $2.5 Million
18                         Gordon Murray T.50          Price: $2.6 Million
19                       Lamborghini Countach          Price: $2.6 Million
20              Hennessey Venom F5 Revolution                 $2.7 Million
21                   Mercedes-AMG Project One          Price: $2.7 Million
22                               Zenvo Aurora          Price: $2.8 Million
23                        Aston Martin Victor          Price: $3.0 Million
24                Hennessey Venom F5 Roadster                 $3.0 Million
25                           Koenigsegg Jesko          Price: $3.0 Million
26                                 Aspark Owl                 $3.1 Million
27                      Aston Martin Valkyrie          Price: $3.2 Million
28                  W Motors Lykan Hypersport          Price: $3.4 Million
29                              McLaren Solus                 $3.5 Million
30                        Pagani Huayra Evo R          $3.5 Million (est.)
31                           Lamborghini Sian          Price: $3.6 million
32                           Koenigsegg CC850          Price: $3.7 Million
33            Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34  Gordon Murray Automotive T.50s Niki Lauda                 $3.9 Million
35                  Pagani Huayra Roadster BC                 $4.0 Million
36                         Lamborghini Veneno          Price: $4.5 Million
37                             Bugatti Bolide          Price: $4.7 Million
38                  Pininfarina B95 Speedster          Price: $4.8 Million
39                            Bugatti Mistral          Price: $5.0 Million
40                               Bugatti Divo          Price: $5.8 Million
41                        Pagani Huayra Imola                 $6.0 Million
42                           Pagani Codalunga          Price: $7.4 Million
43                   Mercedes-Maybach Exelero          Price: $8.0 Million
44                         Bugatti Centodieci          Price: $9.0 Million
45                    Bugatti Chiron Profil√©e         Price: $10.8 Million
46                       Rolls-Royce Sweptail         Price: $12.8 Million
47                   Bugatti La Voiture Noire         Price: $13.4 Million
48                      Rolls-Royce Boat Tail  Price: $28.0 Million (est.)
49         Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)